# Ignore attic.
Attic/

# Ignore vcode workspace file.
*.code-workspace

# Ignore scrap and examples directory.
scrap/
examples/

# Ignore Python cache.
__pycache__

# Ignore internal TODO
TODO.internal